/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto+Mono:ital,wght@1,600&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* General Styles */
body {
    background: black;
}

.heading {
    color: white;
    text-align: center;
    font-family: 'Creepster'; 
    font-size: xx-large;
}

/* Image on Homepage */
#splash {
    display: block;
    width: 100%;
    height: 100%;
}

/* Ruleset Div */
.rulediv {
    color: white;
    text-align: center;
    font-size: large;
}

.ruleset h2 {
    font-family: 'Creepster';
    font-size: xx-large;
}

.ruleset p {
    padding: 1%;
    font-family: 'Roboto Mono';
}